body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe5e5;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
  max-width: 500px;
}
.container .tenor-gif-embed {
  max-width: 200px;
}
.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  /* box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3); */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 21px;
}
.btn:hover {
  box-shadow: 0px 0px 30px 0px rgba(180, 3, 3, 0.579);
}

/* .heart {
  width: 10px;
  height: 10px;
  position: relative;
  animation: heartbeat 1s infinite;
  transform-origin: 0vh;
  left: 0;
  top: 0;
} */
.heart {
  width: 100px;
  height: 100px;
  position: absolute; /* Position the heart absolutely */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  animation: heartbeat 1s infinite;
  transform-origin: center;
  cursor: pointer;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 150px;
  background-color: rgb(185, 89, 105);
  border-radius: 50px 50px 0 0;
}

.heart:before {
  left: 98px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
